@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
.productCard_main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.showdata{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 10px 25%;
}
.showdata li{
    list-style-type: none;
}
.showdata button{
    border: none;
    outline: none;
    background: var(--button);
    padding: 10px;
    border-radius: 10px;
    color:white;
    cursor: pointer;
    transition: .2s all ease-in-out;
}
.showdata button:active{
    box-shadow: 1px 1px 10px lightgray;
    opacity: .5;
}
@media only screen and (max-width:700px) {
.showdata{
    margin: 0;
    width: 100%;
}    
}
.productCard{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.disableProductCard{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    flex-wrap: wrap;
    /* background-color: gray;   */
    /* opacity: .4; */
}
.productCard>*,.disableProductCard>*{
    margin: 1%;
}
.datatype input{
    border: 1px solid var(--button);
    outline: none;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    margin-top: 5px;

}
.datatype input:focus{
    background-color: var(--button);
    color: white;
}
.datatype input::placeholder{
    color: var(--button);
}