.main_login{
   min-height: 580px;
}
.Login{
    width: 40%;
    border: 1px solid var(--title);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    padding-top: 30px;
}
.Login .brand {
    position: absolute;
    top: -7%;
    left: 50%;
    transform : translateX(-50%);
    background-color: var(--button);
    padding: 5px 7px;
    border-radius: 50%;

}
.Login .brand >*{
    color: white;
}
.form form{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 15px;

}
.Login .input_controller{
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-weight: bold;
}
.Login .input_controller label:hover{
    cursor: pointer;

}
.Login .input_controller input{
    border: none;
    outline: none;
    border-bottom: .5px solid black;
    width: 100%;
    transition: .5s all ease;
    padding:5px ;
    font-size: 15px;
}
.Login .input_controller input:focus {
    padding-top: 10px;
}
.loginbutton{
    background-color: var(--button);
    border:none;
    outline: none;
    width: 100px;
    padding:10px 20px;
    border-radius:10px;
    color: var(--background);
    margin: 0 20%;
    margin-top:10%;
    font-size:15px;
    cursor: pointer;
}